node_modules
npm-debug.log*
yarn-error.log*
dist
build
.env
.env.*
!.env.example
.git
.gitignore
.github
.vscode
.idea
*.swp
*.swo
.DS_Store
coverage
test
tests
*.test.ts
*.spec.ts
logs
*.log
*.md
README.md
docs
.eslintrc
.prettierrc
nodemon.json
nodemon.worker.json
